/* the slides */
.slick-slide {
    width: 415px;
    margin: 0 0;
}
/* the parent */
.slick-list {
    margin: 0 0px;
}

.slick-arrow {
	z-index: 1;
    content: "";
	width: 39px;
    height: 39px;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    background-image: url('../../../../utils/ButtonArrow/ArrowRight.svg');
}
.slick-arrow:hover {
    background-image: url('../../../../utils/ButtonArrow/ArrowRight.svg');
}
.slick-prev {
    transform: rotate(180deg);
    top: calc(230px/2 - 19px/2);
    left: -29px;
}
.slick-next {
    right: calc(-39px - 4px);
}
.slick-prev::before {
    content: "";
}
.slick-next::before {
    content: "";
}